<div class="content">
  <a [routerLink]="['']">Home</a>
  <br>
  <br>
  <h6>Edit this author:</h6>
    
  <div class="border">
    <form >
      <div class="">
        <label for="" >Name</label><br>
        <input type="text"name="gotAuthor.name" [(ngModel)]='gotAuthor.name'>
      </div>
      <br>
      <button [routerLink]="['']" class="btn btn-primary mb-2">Cancel</button>
      &nbsp;
      <button (click)="onSubmit2()" type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
  </div>

</div>