<div class="content">
    <h6>We have quotes by:</h6>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Author</th>
          <th scope="col">Actions Available</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let author of allAuthors">
          <td>{{author.name}}</td>
          <td><button [routerLink]="['edit',author._id]">Edit</button> &nbsp; <button (click)="clickdeleteAuthor(author._id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
    </div>